<ng-container *ngIf="tasks.length>0; else noTask">
    <ng-container *ngIf="tasks.length > 0">
        <p [ngStyle]="{color: getColor()}">Number of tasks: {{tasks.length}} </p>
      </ng-container>
  <ul>
    <li appDate [date]="task.createDate" *ngFor="let task of tasks; let odd = odd" [ngClass]="{'odd-li': odd, 'last-li': tasks.length===1 }">
      {{task.name}}
      <button type="button" class="btn btn-danger" (click)="remove(task)">Remove</button>
      <button type="button" class="btn btn-success" (click)="markAsDone(task)">Mark as done</button>
    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  <p>No tasks, you can go home</p>
</ng-template>
